.container{
    margin-top:3rem;
    text-align:center;
background-color:maroon;
width:50%;
margin-left:25%;
padding:5px;
border-radius:14px;
box-shadow:5px 5px  2px 17px  orange;
transition:box-shadow 1s;
opacity:0.8
}
body{
    background:  center/contain url('https://images.unsplash.com/photo-1477959858617-67f85cf4f1df?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=813&q=80')  
}

h2{
    color:orange;
}
h1{
    text-decoration:purple underline wavy;
    color:black;

}
#city{
    width:30%;
    height:2rem;
    border:2px solid black;
    border-radius :15px;
}
#search{
    margin-top:10vh;
    width:20%;
    height:8vh;
    border-radius:10px;
    background-color:pink;
transition: transform 0.7s
}
button:hover{
transform:translateY(-7px)
}